body {
    background-color: black;
    color: white;
}
main {
    display: flex;
    justify-content: space-around;
    font-size: 150%;
}

.sala_de_aula{
    width: 50%;   
}

.pedagoga_1{
    width: 50%;
}

.pedagoga_2{
    width: 50%;
}